# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8000
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
#CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n
CONFIG_RTC_CLK_SRC_INT_8MD256=y
CONFIG_RTC_CLK_SRC_INT_RC=n
# _may_ make the clock more accure

# defaults to 32, needs CONFIG_LWIP_WND_SCALE to increase
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64
# default is 6
CONFIG_TCP_RECVMBOX_SIZE=12
CONFIG_ESP_WIFI_IRAM_OPT=y
# 16kb ram
CONFIG_ESP_WIFI_RX_IRAM_OPT=y
# 16kb ram
CONFIG_LWIP_WND_SCALE=y
# 10kb ram
CONFIG_LWIP_IRAM_OPTIMIZATION=y
# 17kb ram
CONFIG_LWIP_EXTRA_IRAM_OPTIMIZATION=y
# defaults to 5760
CONFIG_LWIP_TCP_WND_DEFAULT=11520
# defaults to 5760
CONFIG_LWIP_TCP_RCV_SCALE=11520

# supposed to make select() on netif faster
CONFIG_VFS_SUPPORT_SELECT=n
